@import "./mixins";
@import "./navbar";
@import "./hero-section";
@import "./footer";
@import "./services";
@import "./about";
@import "./process";
@import "./testimonials";
@import "./blog-section";
@import "./contact_form";
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f2f6f9;
}

.main-wrapper {
  background-image: url("../assets/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
